06cdc05791b8af29eed72084f39143c7.ics
Dagboksmall.docx
Dixon-K-Function (1).pdf
Dixon-K-Function.pdf
ERIKA.rds
ERIKA_np.txt
MVEX11_VT25_18_Dagbok__all_edit_.pdf
Planeringsrapport SEEX16-25-10.pdf
Projektplan_kandidatarbete (1).pdf
Projektplan_kandidatarbete.pdf
chalmers-university-of-technology-master-thesis-template-2021.pdf
code.r
copy.txt
fack2.md
fack2.pdf
feb20.md
gruppkontrakt.docx
ieee-style-guide.pdf
kallkritik-ai.md
lectures.md
lisa-feb.R
mvex011_feb.R
mvex011_mar.R
project.log
pyreader_data.rds
python-data
ves13-dbh.png
ves13-poissonoffspring-normaldist.png
webp.log
